.logo {
  width: 100px;
  height: 100%;
  color: black;
  font-size: 30px;
  /*margin-left: 70px;*/
  float: left;
}

.login-icon{
  padding-right: 2%;
  color: white;
  float: right;
  margin-top: 20px;
}

.header-menu {
  line-height: 64px;
  position: center;
 padding-left: 15%;
  background: black;
}

.sider-menu {

  border-right: 0;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 0px;
  height: 100%;

}
.inner-layout.ant-layout{
  margin-top: 0px;
  padding-left: 1px;
  padding-right: 1px;
  padding-inline-end: 0px;
  padding-bottom: 1px;
  margin-left: 61PX;
}
.inner-layout {
  padding: 0 24px 24px;

}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  background: #fff;
  padding: 0px;
  min-height: 280px;
}
nz-footer {
  position: fixed;
  text-align: left;
  bottom: 0;
  width: 100% ;
  background: white;
  margin-left: 61px;
}

nz-header{
  padding-left: 0%;
  padding-right: 0%;
  height: 100px;
  background-color: darkgray;
}
nz-sider{
  margin-top: 0px;
}
body{

  background: black;
}

nz-layout{
  background: white;
}
img{
  height: 89px;
  margin-left: 12px;
  margin-top: 7px;
}
.ant-menu-submenu-title{
  padding-left: 8px;
}
.ant-avatar-lg{
  margin-left: 82%;
  margin-top: 32px;
}

.nz-content[_ngcontent-blg-c1]{
  margin-top: 13px;
}
#content{
  margin-top: 13px;
}
