.logo {
  width: 100px;
  height: 100%;
  color: #fff;
  font-size: 30px;
  /*margin-left: 70px;*/
  float: left;
}

.login-icon{
  color: white;
  float: right;
  margin-top: 20px;
}

.header-menu {
  line-height: 64px;
}

.sider-menu {
  height: 100%;
  border-right: 0;
}

.inner-layout {
  padding: 0 24px 24px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
nz-footer {
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100% ;
}

nz-header{

  height: 100px;
}
nz-sider{
  margin-top: 32px;
}
